[user]
	name = VaultSoldier
	email = 61462705+VaultSoldier@users.noreply.github.com
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
