* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.5);
}

button {
  border-color: #89b4fa;
  text-decoration-color: #cdd6f4;
  color: #cdd6f4;
  background-color: #181825;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: 18%;
  margin: 13px;
}

button:focus,
button:active,
button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: rgb(48, 50, 66);
  outline-style: none;
}

#lock {
  background-image: url("/home/vs/.config/wlogout/icons/lock.svg");
}

#logout {
  background-image: url("/home/vs/.config/wlogout/icons/logout.svg");
}

#suspend {
  background-image: url("/home/vs/.config/wlogout/icons/suspend.svg");
}

#hibernate {
  background-image: url("/home/vs/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
  background-image: url("/home/vs/.config/wlogout/icons/shutdown.svg");
}

#reboot {
  background-image: url("/home/vs/.config/wlogout/icons/reboot.svg");
}
